body, html {
    margin: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    height: 100%;
    background: #e9e9e9; /* Modifier selon le thème de couleur souhaité */
  }
  
  .profile-left {
    flex: 1;
    background: #333;
    color: #fff;
    padding: 20px;
    overflow: hidden; /* Empêche le débordement de contenu */
  }
  
  
  .chat-box {
    margin-top: 20px;
    overflow-y: scroll; /* Ajoute le scroll vertical */
    height: 300px; /* Ajuste la hauteur selon tes besoins */
  }
  
  .profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  #playAudioButton {
    background:blueviolet; /* Une couleur différente pour distinguer le bouton */
  }
  
  #playAudioButton img {
    width: 24px;
    height: 24px;
  }
  
  
  .profile-thumbnail {
    width: 50px; /* Ajuster selon la taille souhaitée */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .message-area {
    flex-grow: 1;
  }
  
  .message-input-area {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 10px 0;
  }
  
  .message-input {
    flex-grow: 1;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-right: 0px;
  }
  
  .send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #5cb85c;
    color: #fff;
    cursor: pointer;
  }
  
  .profile-right {
    flex: 2;
    padding: 20px;
    text-align: center; /* Centrer le contenu pour la section de droite */
  }
  
  .profile-image {
    height: 440px;
    border-radius: 10px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    background:grey; /* Fond clair pour la bio */
    padding: 20px;
    border-radius: 10px;
    height: 185px;
  }
  .profile-name-rightT{
    color: #333;

  }
  .profile-name-right, .profile-description {
    margin-top: 0px;
  }
  .profile-description {
    /* padding: 27px; */
    display: flex;
    color: black;
    font-size: 14px;
    height: 48px;
    /* margin-top: 0px; */
}
/* ... Autres styles ... */

.chat-box {
    margin-top: 20px;
  }
  
  .message-bubble {
    background-color: #ececec;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 10px;
    align-self: flex-start; /* Pour que les bulles apparaissent à gauche */
  }
  
  /* Pour faire en sorte que les messages de l'utilisateur apparaissent à droite */
  .message-bubble.user-message {
    align-self: flex-end;
    background-color: blue; /* Choisis une couleur qui se démarque pour l'utilisateur */
  }
  
/* Style pour la modal/lightbox */
.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Fixé au-dessus de tout */
  z-index: 1000; /* En haut de la pile */
  padding-top: 100px; /* Positionnement depuis le haut */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Ajoutez un scroll si nécessaire */
  background-color: rgb(0,0,0); /* Fond noir */
  background-color: rgba(0,0,0,0.9); /* Noir avec opacité */
}

/* Style pour l'image dans la modal */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Style pour le texte sous l'image (si nécessaire) */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Style pour le bouton de fermeture */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


  /* ... Autres styles ... */
  